body{
  font-family: '-apple-system';
  .left-menu{
    width: 190px;
    background-color: #6e6568;
    color: white;
    float: left;
    li{
      list-style: none;
      height: 28px;
      display: block;
      width: 100%;
    }
  }
  .right-content-wrapper{
    padding-left: 190px;
    .right-content{
      width: 100%;
      display: none;
      li{
        list-style: none;
      }
    }
  }
}